$medium: 768px;

.contentWrapper {
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 453px;
  column-gap: 120px;
  position: relative;
  @media screen and (max-width: $medium) {
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    align-items: center;
  }
}

.contentSigned::before {
  content: '';
  height: 100vh;
  width: 300px;
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;
  position: absolute;
  right: -75px;
  top: 0;
  @media screen and (max-width: $medium) {
    display: none;
  }
}
